.hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

.logo{
    display: flex;
    margin-left: 200px;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF9;
}

.links{
    font-size: 18px;
    font-weight: 200;
    display: flex;
    margin-right: 110px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.hero-img{
    height: 250px;
    width: auto;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 110px;
    gap: 25px;
    margin-left: 200px;
    margin-right: 110px;
}

.maintext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
   
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    
}

.left-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px;
}

.right-img{
    display: flex;
}

button{
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    box-sizing:content-box;
    width: fit-content;
    padding: 8px 15px;
    
}

.top-button{
    border: none;
}

#title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 30px;
}

.middle-section{
    display: flex;
    flex-direction: column;

}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
}

.insp-quote{
    display: flex;
    margin-top: 20px;
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 110px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.img-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: auto;
}

.middle-img{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.img-subtext{
    display: flex;
    height: auto;
    width:155px ;
    font-size: small;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
}

.quote{
    display: flex;
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
    font-family: italic;
}

.signature{
    display: flex;
    align-self: flex-end;
    
}

.insp-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 600px;
}

.bottom-section{
    display: flex;
    background-color: #3882F6;
    color:#F9FAF8 ;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 110px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 10px;
}

.bottom-title{
    font-weight: bold;
    font-size: 25px;
}
.bottom-button{
    border-color: white;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding-top: 45px;
    padding-bottom: 45px;

}